body{
    background: linear-gradient( purple, blue, orange);
    width: 1000px;
    height: 1000px;
    position :relative;
}
.wex, .exort, .quas .invo{
    display: flex;
    align-items: end;

} 
.wex{
    position: absolute;
    left: 400px;
    top: 50px;
}

.quas{
    position: absolute;
    left: 300px;
    top: 50px;
}

.exort{
    position: absolute;
    left: 500px;
    top: 50px;
}

p, h1, h2{
    color: white;
}

.wexT{
position: absolute;
 display: flex;
 justify-content: center;
 right: 540px;
 top: 120px;
}
.quasT{
    position: absolute;
     display: flex;
     justify-content: center;
     right: 640px;
     top: 120px;
} 
.exortT{
    position: absolute;
    display: flex;
    justify-content: center;
    right: 435px;
    top: 120px;
}
.invo{

}

figure {
    margin: 0;
  }
  

